@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Calculator";

}

<h1>@ViewData["Title"]</h1>

<p>An easy to use calculator.</p>
<div class="text-center">
    <form asp-controller="Projects" asp-action="Calculator" method="post">
        <input type="text"
               asp-controller="Projects"
               asp-action="Calculator"
               name="firstNum"
               placeholder="Input First Number" />
        <input type="text"
               asp-controller="Projects"
               asp-action="Calculator"
               name="secondNum"
               placeholder="Input Last Number" />
        <br/>
        <button type="submit">Calculate</button>
    </form>
</div>
    
@if (ViewBag.FirstNumSqrt != null && ViewBag.SecondNumSqrt != null){
    <h3> Square root of First Number is: @ViewBag.FirstNumSqrt</h3>
    <h3> Square root of Second Number is: @ViewBag.SecondNumSqrt</h3>
}